services:
  server:
    build:
      context: ./server

    ports:
      - 4000:4000

  client:
    build:
      context: ./client

    ports:
      - 3000:3000

  db:
    image: mysql:latest
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: my_powerfull_password
      MYSQL_DATABASE: pagana
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
